In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data_df = pd.read_csv("all_books.csv")

In [3]:
data_df, test_df = train_test_split(data_df, train_size=0.99)

In [4]:
data_df = data_df.replace(to_replace=r'[^A-Za-z0-9 ]+', value='', regex=True)

test_df = test_df.replace(to_replace=r'[^A-Za-z0-9 ]+', value='', regex=True)

In [5]:
data_df

,input,target
4633,almost every day She not unfrequently stopped ...,almost every day She not unfrequently stopped ...
9019,to get rid of him and unwilling for her sister...,to get rid of him and unwilling for her sister...
23466,Forgiveness horse why do I rail on thee,Forgiveness horse why do I rail on thee
47898,regimental commander for in spite of repeated ...,regimental commander for in spite of repeated ...
84544,If instead of imagining to ourselves commander...,If instead of imagining to ourselves commander...
...,...,...
88253,to her mother,to her mother
5713,She grew absolutely ashamed of herself Of neit...,She grew absolutely ashamed of herself Of neit...
33523,I think there is not half a kiss to choose,I think there is not half a kiss to choose
1113,The country said Darcy can in general supply b...,The country said Darcy can in general supply b...
95497,How should I know said Alice surprised at her ...,How should I know said Alice surprised at her ...

In [6]:
word = "abcd"

new_word = word[:1] + word[2:]

print(new_word)

acd

In [7]:
from tqdm import tqdm
import random

generated_sentences_1 = []
generated_sentences_2 = []
generated_sentences_3 = []
generated_sentences_4 = []

target_sentences = []

CHARS = list('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')
REMOVE_CHARS = '[#$%"\+@<=>!&,-.?:;()*\[\]^_`{|}~/\d\t\n\r\x0b\x0c]'

for i, row in tqdm(data_df.iterrows()):
    sentence = row['target']
    split_sentence = sentence.split(" ")
    gen_sentence_1 = []
    gen_sentence_2 = []
    gen_sentence_3 = []
    gen_sentence_4 = []
    
    count = 0
    for word in split_sentence:
        choose = random.choice([True, False])
        
        if choose and (count!= 3):
            # Delete letter
            error_word_list = []
            if len(word) > 1:
                letter_index = random.randrange(len(word))
                new_word = word[:letter_index] + word[letter_index+1:]
                error_word_list.append(new_word)
            else:
                error_word_list.append(word)
                
            # Substitute letter
            if len(word) > 1:
                letter_index = random.randrange(len(word))
                new_word = word[:letter_index] +  random.choice(CHARS) +word[letter_index+1:]
                error_word_list.append(new_word)
            else:
                error_word_list.append(word)
            
            # Add random letter
            if len(word) > 1:
                letter_index = random.randrange(len(word))
                new_word = word[:letter_index] + random.choice(CHARS) + word[letter_index:]
                error_word_list.append(new_word)
            else:
                error_word_list.append(word)
                
            # Switch two letters
            if len(word) > 1:
                letter_index = random.randrange(len(word)-1)
                new_word = word[:letter_index] + word[letter_index+1] + word[letter_index] + word[letter_index+2:]
                error_word_list.append(new_word)
            else:
                error_word_list.append(word)
                
            gen_sentence_1.append(random.choice(error_word_list))
            gen_sentence_2.append(random.choice(error_word_list))
            gen_sentence_3.append(random.choice(error_word_list))
            gen_sentence_4.append(random.choice(error_word_list))
                
            
            count += 1
            
        else:
            gen_sentence_1.append(word)
            gen_sentence_2.append(word)
            gen_sentence_3.append(word)
            gen_sentence_4.append(word)
    
    gen_sentence_1 = ' '.join(gen_sentence_1)
    gen_sentence_2 = ' '.join(gen_sentence_2)
    gen_sentence_3 = ' '.join(gen_sentence_3)
    gen_sentence_4 = ' '.join(gen_sentence_4)
    
    generated_sentences_1.append(gen_sentence_1)
    generated_sentences_2.append(gen_sentence_2)
    generated_sentences_3.append(gen_sentence_3)
    generated_sentences_4.append(gen_sentence_4)
    
    target_sentences.append(sentence)

95518it [00:24, 3877.15it/s]

In [9]:
from tqdm import tqdm
import random

generated_sentences_1_test = []

target_sentences_test = []

CHARS = list('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')
REMOVE_CHARS = '[#$%"\+@<=>!&,-.?:;()*\[\]^_`{|}~/\d\t\n\r\x0b\x0c]'

for i, row in tqdm(test_df.iterrows()):
    sentence = row['target']
    split_sentence = sentence.split(" ")
    gen_sentence_1 = []
    
    count = 0
    for word in split_sentence:
        choose = random.choice([True, False])
        value = random.choice([0,1,2,3])
        if choose and (count!= 3):
            
            if value == 0:
                # Delete letter
                if len(word) > 1:
                    letter_index = random.randrange(len(word))
                    new_word = word[:letter_index] + word[letter_index+1:]
                    gen_sentence_1.append(new_word)
                else:
                    gen_sentence_1.append(word)
            if value == 1:
                # Substitute letter
                if len(word) > 1:
                    letter_index = random.randrange(len(word))
                    new_word = word[:letter_index] +  random.choice(CHARS) +word[letter_index+1:]
                    gen_sentence_1.append(new_word)
                else:
                    gen_sentence_1.append(word)
            
            if value == 2:
                # Add random letter
                if len(word) > 1:
                    letter_index = random.randrange(len(word))
                    new_word = word[:letter_index] + random.choice(CHARS) + word[letter_index:]
                    gen_sentence_1.append(new_word)
                else:
                    gen_sentence_1.append(word)
            
            if value == 3:
                # Switch two letters
                if len(word) > 1:
                    letter_index = random.randrange(len(word)-1)
                    new_word = word[:letter_index] + word[letter_index+1] + word[letter_index] + word[letter_index+2:]
                    gen_sentence_1.append(new_word)
                else:
                    gen_sentence_1.append(word)
            count += 1
        else:
            gen_sentence_1.append(word)
    
    gen_sentence_1 = ' '.join(gen_sentence_1)
    
    generated_sentences_1_test.append(gen_sentence_1)
    
    target_sentences_test.append(sentence)

965it [00:00, 5478.62it/s]

In [10]:
df_1_novel = pd.DataFrame({
    'input':generated_sentences_1,
    'target':target_sentences
})

df_2_novel = pd.DataFrame({
    'input':generated_sentences_2,
    'target':target_sentences
})

df_3_novel = pd.DataFrame({
    'input':generated_sentences_3,
    'target':target_sentences
})

df_4_novel = pd.DataFrame({
    'input':generated_sentences_4,
    'target':target_sentences
})

In [11]:
test_novel = pd.DataFrame({
    'input':generated_sentences_1_test,
    'target':target_sentences_test
})

In [12]:
train_novel = [df_1_novel, df_2_novel, df_3_novel, df_4_novel]

train_novel = pd.concat(train_novel)

In [13]:
train_novel = train_novel.sample(frac=1)
print("Before dropping duplicates", train_novel.shape)
train_novel.drop_duplicates()
print("After dropping duplicates", train_novel.shape)

Before dropping duplicates (382072, 2)
After dropping duplicates (382072, 2)

In [14]:
train_novel

,input,target
72692,conteted fellows satiVsfied witrh their positi...,contented fellows satisfied with their positio...
72019,at hte raPe of twentyseven miles a qday that t...,at the rate of twentyseven miles a day that th...
43314,GLwUCESTER,GLOUCESTER
75677,yas already full ou peNple There were people n...,was already full of people There were people n...
20328,feet,feet
...,...,...
34873,significant command to come ot her oc Tuesday,significant command to come to her on Tuesday
24575,asslertion of aer brothers ebing partial to Mi...,assertion of her brothers being partial to Mis...
20317,Til it wgas whetted on tJhy stonehard heart,Till it was whetted on thy stonehard heart
21657,all hos attemptrs to talk senimentally evident...,all his attempts to talk sentimentally evident...
10705,flaye already,flayed already

In [15]:
test_novel.drop_duplicates()
test_novel

,input,target
0,yM hate to Marcius hwere I find him were it,My hate to Marcius where I find him were it
1,Petay Hhad Trepared many fine things he meant ...,Petya had prepared many fine things he meant t...
2,abGruptly,abruptly
3,mattedr acd Uto that I reply You are my best f...,matter and to that I reply You are my best fri...
4,But thee sworcs were drwan back from him and h...,But the swords were drawn back from him and he...
...,...,...
960,Which I Mispersed they all have met again,Which I dispersed they all have met again
961,PAULINA,PAULINA
962,oGod faith Ill prove him,Good faith Ill prove him
963,were tdlking secrMts sa down beside them Vera ...,were talking secrets sat down beside them Vera...
964,and though thne Emperor Napoleon himsZlf wrote...,and though the Emperor Napoleon himself wrote ...

In [16]:
train_novel.to_csv("Novel_dataset_errors_train_3.csv", index=False)

In [17]:
test_novel.to_csv("Novel_dataset_errors_test_3.csv", index=False)